{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<main>
<div class="content">
  <h1>3ª Lei de Newton - Ação e Reação</h1>
  <p class="introducao">
    Por fim, a 3ª Lei de Newton completa as três leis de Newton como um conjunto de normas
    que delimitam e esclerecem o que é força e a sua associação ao movimento.
  </p>

  <h2>Enunciado da 3ª Lei de Newton</h2>
  <div class="citacao">
    <p>
      "Para toda força (ação) há uma força (reação) de mesma direção e módulo, porém no 
      sentido oposto e aplicada no corpo que criou a ação."
    </p>
  </div>
  <p>
    Em termos matemáticos, pode-se dizer que \(\vec F_{21}\) que é a força que o corpo
    \(1\) exerce no corpo \(2\) e a força \(\vec F_{12}\) que é a força que o corpo \(2\)
    exerce no corpo \(1\), se relacionam por:
    \[\vec F_{21} = - \vec F_{12} \]
  </p>
  <img src="{% static 'img/posts/3a LN (1).png' %}" alt="exemplo da 3lei de newton.">

  <h2>Ação e Reação não se anulam</h2>
  <p>A força de ação e a força de reação não se anulam pois são aplicadas em corpos
    diferentes.
  </p>

  <h2>Exemplos</h2>
  <div class="container-video-youtube"><iframe class="video-youtube" src="https://www.youtube.com/embed/ZkVU-bj9bDk?si=n4m_yAvvM8MJz4PQ&amp;start=120 " title="" frameborder="0" allow="" referrerpolicy="" allowfullscreen></iframe></div>

  <h2>Exercícios</h2>
  <div class="exercicios">
    <ol class="enunciado">
      <li>Quando um caminhão colide com um carro, a força que o carro aplica no caminhão
        é maior, igual ou menor que a força que o caminhão aplica no carro?
      </li>
      <li>A força que a Terra aplica sobre um corpo em sua superfície é maior, menor ou igual
        a força que os corpos puxam ela?
      </li>
      <li>
        Assinale V para verdadeiro ou F para falso, corrija as afirmativas falsas:
        <ol class="opcoes">
          <li>Quando uma pessoa caminha para frente, ela empurra o chão para trás e o chão o empurra para frente.</li>
          <li>Quando uma pessoa nada para frente, ela empurra a água para frente e a água a empurra para trás</li>
          <li>Quando uma corda puxa um corpo atua somente uma força no corpo, na corda não atua
            nenhuma força.
          </li>
          <li>
            No avião voando é o único momento que somente ocorre uma força exercida sobre o avião.
          </li>
        </ol>
      </li>
    </ol>
  </div>



</div>
</main>
  {% endblock content %}