{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<main>
<div class="content">
  <h1>Lei da Inércia</h1>
  <p class="introducao">
    A Cinemática, tema que foi estudado até então, não explica a causa do movimento,
    "apenas" a descreve. No entanto, as próximas aulas serão alguns passos a mais a entender
    sobre a natureza do movimento. Como ela é causada será a principal pergunta que as 
    Leis de Newton responde. O primeiro movimento que se consegue explicar com a 1ª Lei é o
    <a href="{% url 'nota' slug='mru'%}" target="_blank">MRU.</a>  
  </p>

  <h2>Inércia</h2>
  <p>
    A inércia foi um propriedade da matéria descoberta por Galileu e Descartes. Assim como a matéria
    possui densidade, volume, temperatura, etc; a matéria também possui inércia. E a definição
    de inércia é <strong>a propriedade da matéria que dificulta o corpo a mudar sua velocidade.</strong>
    Ou seja, se depender somente da inércia de um corpo, o corpo jamais mudará sua velocidade.
  </p>
  <p>
    Galileu descobriu isso fazendo alguns experimentos simples e induziu para toda a matéria.
    Ele soltou uma esfera sobre uma rampa e ao final dessa rampa haviam algumas pedras. A
    esfera rolava até uma certa distância e parava. Logo em seguida, retirava as pedras e 
    colocava uma superfície lisa, a esfera rolava um pouco mais. Aí poliu essa superfície lisa
    ainda mais e a esfera rolava uma distância ainda maior. Logo ele induz que se soltar sobre 
    uma superfície perfeitamente lisa, ela jamais irá parar, pois não haverá nada que a faça parar.
    Ou seja, o que faz as coisas pararem ou impulsionarem são forças. E se não houver nenhuma força
    o corpo irá se mover infinitamente porque existe uma propriedade, que ele então 
    denominou de <strong>inércia.</strong>
  </p>
  <p>
    Já Desartes chegou a mesma conclusão, porém por um meio teológico. Ele disse que Deus ao criar
    o universo deu ao universo um movimento inicial e que esse não se altera. E essa propriedade
    foi chamada de inércia.
  </p>

  <h2>Simulação do experimento de Galileu</h2>
  <p>Veja na simulação como é possível provar a afirmação de Galileu.</p>
  <div class="container-geogebra">
    <iframe class='geogebra' src="https://phet.colorado.edu/sims/html/energy-skate-park/latest/energy-skate-park_pt_BR.html" allowfullscreen frameborder="0"></iframe>
  </div>

  <h2>1ª Lei de Newton</h2>
  <div class="citacao">
    <p>
      "Todo corpo tende a ficar em repouso, se estiver em repouso, ou de MRU, se estiver 
      em movimento, a menos que haja uma força resultante forçando-o a mudar aquele 
      estado."
    </p>
  </div>
  <p>
    Perceba que tanto em repouso ou MRU não há mudanças de velocidade. Nem de módulo e 
    nem de direção ou sentido.
  </p>
  <p>
    A primeira afirmação, de repouso, é trivial. Se algo estiver em repouso e se ninguém
    ou nada o empurrar ele continuará lá. Agora o de movimento, nem tanto.
  </p>
  <p>
    Você pode imaginar que se um corpo está em movimento é devido a sua força. Porém,
    deve-se compreender que força é uma grandeza instantânea. Ela atua somente no momento
    que ela está sendo executada. Ou seja, se você empurra seu colega no balanço, ele deixa 
    de sentir a força assim que o contato entre vocês se encerram. E ele passará a se movimentar
    por inércia.
  </p>

  <div class="container-video-youtube">
    <iframe class="video-youtube" src="https://www.youtube.com/embed/oGj_zUqzMaY?si=dQ3hc6H-S3VZ0Ata" title="" frameborder="0" allow="" referrerpolicy="" allowfullscreen></iframe>
  </div>

  <p>
    Perceba no vídeo acima, que enquanto a esfera está em contato com as paredes da circunferência
    ela está sofrendo uma força de contato que a faz mudar a direção da sua velocidade. No entanto,
    quando esse contato acaba, o movimento que a esfera possuiu é de um MRU.
  </p>

</div>
</main>
  {% endblock content %}