{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
  <main>
    <div class="content">
      <h1>Referencial</h1>
      <p class="introducao">
        Como você pode ter visto anteriormente na aula sobre
         <a href="{% url 'nota' slug='grandezas-fisicas-e-unidades' %}">Grandezas e Unidades</a>,
          tudo que pode ser medido são grandezas físicas. E como medir movimento?
           Esse foi um dos grandes questionamentos da humanidade que perduram até hoje.
      </p>
      <h2>
        O que é um Referencial?
      </h2>
      <p>
        Para se medir movimento deve-se adotar um referencial, que ao longo desta 
        aula ficará claro. Um referencial, nada mais é do que um sistema de coordenadas
        fixo em algum ponto. O sistema de coordenadas pode ser um sistema cartesiano em
        duas dimensões, \( x \) e \( y \). Por exemplo, pode-se adotar sistema de 
        coordenadas em um ponto do solo, que ficaria assim:
      </p>
      <img src="{% static "img/posts/exemplo-referencial.png" %}" alt="exemplo referencial, um sistema cartesiano fixo na calçada de uma rua. Ao fundo 2 prédios (1 alto e outro menor) com uma casa ao lado.">
      <h2>
        Posição
      </h2>
      <p>
        Quando você aponta o dedo para algo indicando sua posição, automaticamente você se
        põem como um referencial. E o seu braço e mão funcionam como uma flecha que
        indica o ponto onde algo está.
      </p>
      <p>
        Assim sendo, pode-se definir a grandeza posição como uma "flecha" que liga a
        origem \( O \) do referencial até o ponto escolhido. Assim, a posição da pessoa na
        imagem abaixo é indicada pela "flecha" (o nome correto é vetor) a seguir:
      </p>
      <img src="{% static "img/posts/posicao.png" %}" alt="um vetor apontando para uma pessoa exemplificando uma representação do vetor posição.">
      <p>Neste caso, deu-se o nome do vetor posição de \( \vec{s} \). O que é bastante comum
        pois no inglês a grandeza posição se chama "space".
      </p>
      <h2>
        Deslocamento
      </h2>
      <p>
        Quando um corpo se move, pode-se observar que a sua posição muda. Logo definimos uma nova
        grandeza para medir o quanto essa posição mudou. Esta grandeza é chamada de \(deslocamento \).
      </p>
      <p>
        Define-se deslocamento da seguinte forma:
        \[ \vec{d} = \vec{s}_{final} - \vec{s}_{inicial} \quad (1)\]
      </p>
      <p>
        Ou seja, deslocamento é igual a posição final menos a posição inicial.
      </p>
      <p>
        Perceba que na imagem, é simples mostrar o quanto algo se deslocou. E o vetor deslocamento
        é facilmente visualizado. Pois ele demonstra o quanto o corpo se movimentou.
      </p>
      <img src="{% static "img/posts/deslocamento.png" %}" alt="um vetor deslocamento que mostra o quanto uma pessoa deslocou.">
      <p>
        Muitas grandezas são definidas como variação de alguma outra grandeza, como
         \( final - inicial \). É tão comum que se utiliza um símbolo especial para isso, o 
         \( Delta (\Delta) \). Desta forma, pode-se reescrever a equação \( (1) \), como:
         \[ \vec{d} = \Delta\vec{s} \]
      </p>
      <p>
        Siga a resolução de um primeiro exemplo de deslocamento em apenas uma dimensão, que é
        o movimento mais simples a ser executado.
      </p>
      <div class="exemplo">
        <h3>Exemplo 1</h3>    
        <p>Calcule o deslocamento para o seguinte movimento:</p>
        <img src="{% static "img/posts/exemplo1-referencial.png" %}" alt=" ">
        <div class="resolucao">
          <p>
            Resolução:
            \[ \vec{d} = \vec{s}_{f} - \vec{s}_{i} \]
            \[  d = 5 - 3 \]
            \[  d = 2 cm\]
          </p>
        </div>
      </div>

      <div class="exemplo">
        <h3>Exemplo 2</h3>    
        <p>
          Se um objeto inicia seu movimento na posição \( -5cm \) e finaliza seu movimento
          na posição \( 3cm \), qual o seu deslocamento?
        </p>
        <div class="resolucao">
          <div class="dados">
            <p>
              Dados:
              \[ \vec{s}_{f} = 3cm; \vec{s}_{i} = -5cm \]
            </p>
          </div>
          <p>
            Resolução:
            \[ \vec{d} = \vec{s}_{f} - \vec{s}_{i} \]
            \[  d = 3 - (-5) \]
            \[  d = 3 \cancel{-} (\cancel{-}5) \]
            \[  d = 3 + 5 \]
            \[  d = 8 cm \]
          </p>
        </div>
      </div>

      <div class="exemplo">
        <h3>Exemplo 4</h3>
        <p>
          Faça um diagrama representando o movimento a seguir e calcule o deslocamento de um
          corpo que se movimento de \(10cm\) a \(4cm\).
        </p>
        <div class="resolucao">
          <div class="dados">
            <p>
              Dados:
              \[ \vec{s}_{f} = 4cm; \vec{s}_{i} = 10cm \]
            </p>
          </div>
          <p>
            Resolução:
            \[ \vec{d} = \vec{s}_{f} - \vec{s}_{i} \]
            \[  d = 4 - (10) \]
            \[  d = 4 - 10 \]
            \[  d = -6 cm \]
          </p>
          <img src="{% static "img/posts/exemplo4-referencial.png" %}" alt=" ">
          <p>
            Perceba que o valor do deslocamento foi negativo e o vetor deslocamento
            aponta para o lado oposto ao do referencial. Isso é comum a todos os vetores.
          </p>
        </div>
      </div>

      <div class="exercicios">
        <h2>Exercícios</h2>
        <ol class="enunciado">
          <li>Calcule o deslocamento para as seguintes variações de posição:</li>
          <ol class="opcoes">
            <li>\( \vec{s}_{i} = 2cm; \vec{s}_{f} = 16cm \)</li>
            <li>\( \vec{s}_{i} = -5cm; \vec{s}_{f} = 10cm \)</li>
            <li>\( \vec{s}_{i} = -7cm; \vec{s}_{f} = -10cm \)</li>
            <li>\( \vec{s}_{i} = 5cm; \vec{s}_{f} = -8cm \)</li>
          </ol>
          <li>Desenhe diagrama para todos os deslocamentos da questão anterior
            e compare o sentido do vetor deslocamento com o sinal do resultado.
          </li>
          <li>Se um objeto cai inicialmente de uma altura em relação ao solo de \(50m\) e após \(2s\) o objeto
            está na posição de \(30m\), qual o seu deslocamento na vertical? Utilize um referencial
            apontando para cima com a sua origem no solo.
          </li>
          <li>Calcule o deslocamento para o movimento da questão anterior porém utilize
            um referencial que aponta para baixo e com a origem no início do movimento.
            Qual a diferença entre os dois resultados?
          </li>
        </ol>
      </div>
      <p>
        Para completar o estudo do movimento, na próxima aula você estudará sobre
        a <a href="{% url 'nota' slug='relatividade-do-movimento' %}">relatividade do movimento</a>, que foi descoberta primeiramente por Galileu.
      </p>
    </div>
  </main>
{% endblock %}
