{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<main>
<div class="content">
  <h1>Relatividade do Movimento (Relatividade de Galileu)</h1>
  <p class="introducao">
    Na aula anterior, quando foi iniciado os estudos sobre <a href="{% url 'nota' slug='referencial' %}">Movimento e Referencial</a> 
    não foi dito sobre o que acontece quando se observa o movimento
    por diferentes referenciais. Esse problema foi justamente o que Galileu
    resolveu e é o que será tratado nessa aula.
  </p>
  <h2>Movimento?</h2>
  <p>
    A pergunta central que será respondida nesta aula é "Movimento
    em relação a quem?".
  </p>
  <p>
    Como vimos na aula anterior, deve-se existir um referencial para se
    estudar o movimento. Não somente para criarmos o vetores posição e todos
    os outros, mas também pode ocorrer de um ponto material estar em movimento
    em relação a um referencial mas em relação a outro não.
  </p>
  <p>
    Isso pode soar esquisito a primeiro momento, porém fará sentido ao longo
    desta aula.
  </p>
  <h2>Parado X Repouso, Andando X Movimento</h2>
  <p>
    A diferença entre esses termos é que "parado" e "andando" são termos
    coloquiais. E são casos específicos de Repouso e Movimento.
  </p>
  <p>
    Agora, Repouso é quando o deslocamento é nulo e Movimento é quando o
    deslocamento não é nulo.
  </p>
  <p>
    Assim quando um ponto material muda sua posição, ele está em movimento.
  </p>
  <h2>Andando e em Repouso?</h2>
  <p>
    Um bom exemplo contra-intuitivo desses termos é quando há duas pessoas
    andando lado a lado. Qualquer pessoa, inclusive as próprias duas, diria 
    que elas estão andando.
  </p>
  <p>
    Isso é verdade se colocar um referencial fixo no solo. Ou seja, em relação 
    ao solo, as duas pessoas estão em movimento.
  </p>
  <p>
    No entanto, se colocar o referencial, por exemplo, na pessoa \(A\). A posição da 
    pessoa \(B\) não mudará. Logo a pessoa \(B\) em relação a pessoa \(A\) está em repouso. O 
    mesmo vale para o referencial na pessoa \(B\). Ou seja, a pessoa \(A\) em relação a 
    pessoa \(B\) está em repouso.
  </p>
  <p>
    O desafio a intuição está que mesmo uma pessoa andando ela pode estar em repouso.
  </p>
  <p>
    Assim o termo <strong>andando</strong> e <strong>parado</strong> é um caso especial 
    de <strong>movimento</strong> e <strong>repouso</strong> quando se usa o solo 
    como referencial.
  </p>
  <p>
    Assista ao vídeo a seguir a partir de \(15s \) até \( 1min08s \) e veja outros exemplos onde se aplica relatividade do
    movimento.
  </p>
  <div class="container-video-youtube">
    <iframe class="video-youtube" src="https://www.youtube.com/embed/cJ6ZUbwGt2I?si=MKzi2ZNvfh0iZH0Z&amp;start=15" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>  
</div>
</main>
  {% endblock content %}