<footer>
    <div class="redes-sociais">
        <a href="https://www.instagram.com/profvitorfisica/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://github.com/vtr57" target="_blank"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.youtube.com/channel/UC4V6rnAzh-9hwJmWNsgZ0Ng" target="_blank"><i class="fa-brands fa-youtube"></i></a>
    </div>
    <ul>
        <a href="{% url 'index' %}"><li>Home</li></a>
        <a href="{% url 'sobre' %}"><li>Sobre</li></a>
        <a href="{% url 'contato' %}"><li>Contato</li></a>
    </ul>
</footer>