{% extends "blog/base.html" %}

{% load static %}
{% block content %}

<main>
    {% for nota in notas_publicadas %}
    <a href="{% url 'nota' slug=nota.slug %}">
    <div class="card">
        <img src="{{ nota.banner.url }}" alt="">
    <h2>{{ nota.titulo }}</h2>          
        <p class="data_publicacao">{{ nota.data_publicacao }}</p>
    </div>
    </a>
    {% endfor %}

    <div class="citacao">
        <h2><a href="https://citacoes.in/autores/cesar-lattes/" target="_blank">“A ciência não pode prever o que vai acontecer. Só pode prever a probabilidade de algo acontecer.”</a></h2>
        <p>Cesar Lattes</p>
    </div>
</main>

{% endblock content %}
