{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<main>
<div class="content">
    <p class="introducao">
        Um texto para conhecer um pouco mais o site e a minha filosofia de ensino
    </p>
    <p>
        O site profvitor.com se dedica a dar suporte a ensinar física para jovens alunos 
        que gostam de física. Para aqueles alunos que buscam uma maior consciência sobre os
        fenômenos físicos que acontecem a nossa volta.
    </p>
    <p>
        Ter domínio sobre esse conhecimento é motivo de muito prazer pessoal. Você saber como as
        coisas funcionam na sua menor escala é motivo de orgulho.
    </p>
    <p>
        Mas com certeza nunca chegaremos a tal ponto, pois é uma tarefa humanamente impossível de 
        se terminar. É da limitação humana não saber tudo. Quem sabe um dia um sistema de 
        computação seja capaz de ter este nível de consciência e nós tenhamos a possibilidade de 
        acessar com qualquer profundidade essas informações.
    </p>
    <p>
        Sem dúvida alguma, para trilhar esse caminho é necessário uma vida de estudos. Mas espero 
        que o conteúdo que eu publique nesse site seja de grande ajuda a você. Não pretendo 
        escrever sobre tudo, mas pelo menos um pouco de tudo.
    </p>
    <p>
        Aqui você terá acesso as bases matemáticas que te darão suporte para trabalhar com os 
        problemas físicos. E a medida que os problemas forem evoluindo, a matemática necessária 
        também evoluirá. Isso é óbvio e completamente natural que seja assim. Problemas simples 
        são resolvidos com ideias simples. Problemas desafiadores necessitam de maior suporte 
        para compreensão.
    </p>
    <p>
        E por mais estranho que possa parecer, o caminho para aprender física não é único. 
        Existem diversas formas e fases. Eu mesmo aprendi física de diversas maneiras ao 
        longo da minha vida. Não existe um método mágico. Mas alguns princípios são 
        importantes como a paciência e determinação. Sem esses dois fica muito difícil você 
        ter uma carreira longa nos estudos. 
    </p>
    <p>
        Além do mais, aprender não é um processo individual. É um processo em conjunto e 
        social. E que demanda um esforço que surge no interior e exterior do estudante. 
        Por isso, terá momentos que você precisará parar, ler e refletir consigo mesmo. 
        Terá momentos que será necessário você tirar suas dúvidas com professores ou colegas 
        mais capazes. E indubitavelmente terá de por seus conhecimentos a prática. Porque 
        somente com a união da teoria a prática é que será possível você se reinventar e 
        saber mais sobre aquilo que estuda. 
    </p>
    <p>
        Dito isso, espero que meus textos, que não são inéditos, seja de grande ajuda a 
        você. Uma boa sorte nessa caminhada e aproveite a vista.
    </p>
</div>
</main>
{% endblock content %}