body{
    margin: 0px;
    font-size: 20px;
    font-family: Roboto;
}

main {
    margin: 20px 20px;
    padding: 0;
    background-color: #fdfeff;
    display: flex;
    flex-wrap: wrap;
}

/* index */

.card{
    width: 100%;
    padding: 5px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #073a55;
}

main a{
    text-decoration: none;
}

.card img{
    width: calc(100vw - 60px);
    padding: 0;
    margin: 0;
    border: 1px solid #1A6791;
    border-radius: 10px;
    box-shadow: -3px 3px #4a6f81;
}

.card .data_publicacao{
    font-size: 14px;
    color: #4a6f81;
}

.card h2, .card p{
    margin: 0;
}

main .citacao{
    color: #073a55;
    text-align: center;
    font-style: italic;
    margin: 30px 0px;
}

main .citacao a:visited{
    color: #073a55;
}

/* posts */

main .content h1, h2, h3{
    color: #1A6791;
}

main .content .introducao,
main .content .resolucao p{
    color: #4a6f81;
}

main .content p,
main .content ol li,
main .content ul li{
    color: #073a55;
}

ol.opcoes{
    list-style-type: lower-alpha;
}

main .content .exemplo{
    background-color: #073a552f;
    padding: 5px;
    margin: 15px 0px; 
    border-radius: 5px;
    box-shadow: -3px 3px 10px #073a552f;
}

/* index */

@media (min-width: 600px){

    main{
        margin: auto;
        max-width: 1400px;
        flex-wrap: wrap;
    }

    .card{
        width: 400px;
        padding: 5px;
        padding-bottom: 10px;
        margin: 20px;
        border-bottom: 1px solid #073a55;
    }

    .card img{
        width: 400px;
    }
}

/* posts */

@media (min-width: 600px){
    .content{
        padding: 0px 50px;
        margin: auto;
        width: 900px;
    }

    main .content h1, main .content h2, main .content h3, main .content ul li{
        width: 100%;
    }
}