body{
    margin: 0px;
    font-size: 20px;
    font-family: Roboto;
}

main {
    margin: 20px 20px;
    padding: 0;
    background-color: #fdfeff;
    display: flex;
    flex-wrap: wrap;
}

/* index */

.card{
    width: calc(426px - 40px);
    padding: 5px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #073a55;
}

main a{
    text-decoration: none;
}

.card img{
    width: 100%;
    padding: 0;
    margin: 0;
    border: 1px solid #1A6791;
    border-radius: 10px;
    box-shadow: -3px 3px #4a6f81;
}

.card .data_publicacao{
    font-size: 14px;
    color: #4a6f81;
}

.card h2, .card p{
    margin: 0;
}

main .citacao{
    color: #073a55;
    text-align: center;
}

/* posts */

main h1, h2, h3{
    color: #1A6791;
}

main .introducao,
main .resolucao p{
    color: #4a6f81;
}

main p,
main ol li,
main ul li{
    color: #073a55;
}

ol.opcoes{
    list-style-type: lower-alpha;
}

main .exemplo{
    background-color: #073a552f;
    padding: 5px;
    margin: 15px 0px; 
    border-radius: 5px;
    box-shadow: -3px 3px 10px #073a552f;
}


