footer{
    height: 250px;
    background-color: #1A6791;
    border-top: 1px solid #D7B86B;
    color: #f1faff;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer ul{
    padding: 0;
}

footer ul a{
    color: #f1faff;
    text-decoration: none;
}

footer ul li{
    margin: 10px 0px;
    display: block;
    text-align: center;
}

footer .redes-sociais{
    margin-top: 10px;
    font-size: 30px;
}

footer .redes-sociais i{
    padding: 0px 20px;
}


footer .redes-sociais a:visited{
    color: #f1faff;
    text-decoration: none;
}