header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #1A6791;
    padding: 0;
    border-bottom: 1px solid  #D7B86B;
    color: #f1faff;
}

header img{
    height: 35px;
}

header i{
    padding: 0 5px;
}